* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

body {
  display: flex;
}

.nav-size {
  width: 220px;
  min-width: 220px;
  height: 100vh;
}

.sidebar {
  position: fixed;
  left: 0px;
  width: 220px;
  min-width: 220px;
  min-height: 100vh;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  z-index: 30;
  transition: 0.8s;
}
.sidebar .sidebar__list-item--selected li, .sidebar .sidebar__list li {
  background-color: #fff;
  height: 33px;
  border-bottom: 1px solid #e6e6e6;
  list-style: none;
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.sidebar .sidebar__list-item--selected li a, .sidebar .sidebar__list li a {
  text-decoration: none;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #725c5c;
}
.sidebar .sidebar__title {
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .sidebar__title h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}
.sidebar .sidebar__logo {
  background-image: url("../images/logo.png");
  width: 100%;
  height: 258px;
  background-position: center;
  background-size: cover;
}
.sidebar .sidebar__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}
.sidebar .sidebar__list-item--selected {
  background: #fdf1eb;
  position: relative;
}
.sidebar .sidebar__list-item--selected span {
  position: absolute;
  left: 0;
  height: 100%;
  width: 5px;
  background: linear-gradient(180deg, #FFB455 0%, #ed7839 100%);
}
.sidebar i {
  display: none;
}
.sidebar__trigger {
  padding: 10px;
  border-radius: 5px;
  font-size: 30px;
  position: absolute;
  right: -55px;
  top: 10px;
  background-color: #ed7839;
  transition: 0.5s;
  cursor: pointer;
}
.sidebar__trigger:hover {
  opacity: 0.2;
}

.language-selector {
  width: 97px;
  background-image: url("../svgs/languageimage.svg");
  background-position: 10px 5px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 5px;
  height: 34px;
  text-align: end;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #fdf1eb;
  margin-left: 50px;
  margin-right: 10px;
}
.language-selector span {
  position: absolute;
  width: 42px;
  height: 18px;
  left: 820px;
  top: 25px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #333;
}

.user-info {
  display: flex;
  align-items: center;
}
.user-info .user-info__text-container {
  margin-right: 5px;
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-info .user-info__text-container p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #333333;
}
.user-info .user-info__text-container span {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-align: right;
  color: #333;
}
.user-info .user-info__img-container {
  position: relative;
}
.user-info .user-info__img-container span {
  background-color: #f85959;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  padding: 6px;
  border-radius: 12px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #fff;
}

.header {
  height: 68px;
  width: 100%;
  background-color: #fdf1eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px 0 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #4E4E4E;
}
.header .header__texts p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #725c5c;
}
.header .header__texts h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #725c5c;
}
.header .header__texts h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #725c5c;
}

.first-section {
  margin: 15px 35px 0 35px;
}
.first-section .first-section__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.first-section .first-section__text {
  width: 70%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #ed7839;
}
.first-section .first-section__buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 80px;
}
.first-section .first-section__buttons p {
  width: 220px;
  margin-top: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #ed7839;
}
.first-section .first-section__buttons-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.first-section .first-section__buttons-btn #download-btn {
  width: 120px;
}
.first-section .first-section__buttons-btn button {
  background: #ed7839;
  border-radius: 4px;
  margin: 3px;
  width: fit-content;
  height: 31px;
  padding: 5px 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  border-radius: 4px;
}
.first-section .first-section__buttons-btn button img {
  margin-right: 3px;
  width: 19px;
}
.first-section__others-btn {
  width: 43px;
}
.first-section .first-section__body {
  display: flex;
  justify-content: space-between;
}

.aside {
  width: 242px;
  height: 439px;
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 3px;
}
.aside .header {
  background: #fdf1eb;
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.aside .header h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #4e4e4e;
}
.aside .aside__body {
  padding: 15px 10px 15px 15px;
}
.aside .aside__body p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #5C5C5C;
  margin-bottom: 10px;
}
.aside .aside__body p sup {
  font-size: 8px;
}
.aside .aside__body b {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.02em;
}
.aside .aside__body p:nth-child(n+6):nth-child(-n+11) {
  margin-top: 4px;
}
.aside .aside__body h6 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  color: #ccc;
}

.resumo {
  transition: 0.5s;
  max-width: 1059px;
  margin: 35px auto;
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  height: fit-content;
}
.resumo .header {
  padding: 0 20px 0 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  color: #4E4E4E;
}
.resumo .resumo__body {
  padding: 20px;
}
.resumo .resumo__body p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #5C5C5C;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
.resumo .resumo__body .see-more {
  font-weight: 500;
  color: #ed7839;
  cursor: pointer;
}

.discussoes {
  transition: 0.5s;
  max-width: 1059px;
  margin: 35px auto;
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  height: fit-content;
}
.discussoes .header {
  padding: 20px;
}
.discussoes .discussoes__body {
  display: flex;
  flex-direction: column;
}
.discussoes .discussoes__title {
  margin: 20px auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ed7839;
}
.discussoes .discussoes__icon-area {
  margin: 15px auto;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.discussoes .discussoes__description {
  margin: 0 auto;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #595959;
  max-width: 626px;
}
.discussoes .discussoes__button {
  margin: 15px auto;
  width: 133px;
  height: 32px;
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 5px 10px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}
.discussoes .discussoes__button img {
  margin-right: 4px;
}

.discussoes-sent__body {
  display: none;
  flex-direction: column;
}
.discussoes-sent__body a {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 137.5%;
  text-align: center;
  text-decoration-line: underline;
  color: #ed7839;
  margin: 20px;
}
.discussoes-sent__body .discussoes-sent__title {
  margin: 20px auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ed7839;
}
.discussoes-sent__body .discussoes-sent__description {
  margin: 0 auto;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #595959;
  max-width: 525px;
}
.discussoes-sent__body .discussoes-sent__button {
  margin: 15px auto;
  width: 235px;
  height: 32px;
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}
.discussoes-sent__body .discussoes-sent__button img {
  margin-right: 4px;
}

.add-topic {
  padding: 20px 17px;
  display: none;
}
.add-topic .add-topic__content .text-editor__wrapper {
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid #ccc;
  position: relative;
  height: 113px;
}
.add-topic .add-topic__content .text-editor__wrapper .ql-toolbar {
  background-color: #eaf1f2;
  height: 31px;
  display: flex;
  align-items: center;
}
.add-topic .add-topic__content .text-editor__wrapper .text-editor__submit {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 205px;
  border: none;
  background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
  border-radius: 0px 0px 4px 0px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: #fff;
}
.add-topic .add-topic__content h3 {
  margin: 8px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ed7839;
}
.add-topic .add-topic__title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #5c5c5c;
}
.add-topic .add-topic__subject h3 {
  margin: 8px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ed7839;
}
.add-topic .add-topic__subject input {
  width: 100%;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
}
.add-topic .add-topic__subject input::placeholder {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #4D4D4D;
}

.add-topic .ql-snow {
  border: none;
}

.assuntos {
  padding: 0 15px 15px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  max-width: 1059px;
  margin: 35px auto;
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  height: fit-content;
}

#new-subject {
  display: none;
}

.assunto {
  cursor: pointer;
  margin-top: 20px;
  background: #fff;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  position: relative;
}
.assunto .assunto__new-message {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.assunto .assunto__new-message h3 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #707070;
  margin: 10px 0;
}
.assunto .assunto__new-message a {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #ed7839;
}
.assunto .assunto__message {
  padding: 0 15px;
}
.assunto .assunto__message p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #4D4D4D;
}
.assunto .assunto__header {
  margin-top: 15px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.assunto .assunto__header h3 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ed7839;
}
.assunto .assunto__header p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.5px;
  color: #4D4D4D;
}
.assunto .assunto__footer {
  padding: 0 15px;
  display: flex;
  height: 40px;
  align-items: center;
}
.assunto .assunto__footer .assunto__mais-info {
  margin-right: 18px;
  height: 17px;
}
.assunto .assunto__footer button {
  height: 19px;
  width: 27px;
  color: #fff;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-right: 18px;
}
.assunto .assunto__footer button img {
  width: 100%;
  height: 100%;
}
.assunto .assunto__footer p {
  margin-right: 18px;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 19px;
  color: #757575;
}
.assunto .assunto__hidden {
  cursor: default;
  display: none;
}
.assunto .assunto__hidden .assunto__response {
  padding: 15px;
  border-top: 1px solid #e7e7e7;
}
.assunto .assunto__hidden .assunto__response p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #4d4d4d;
}
.assunto .assunto__hidden .assunto__response-header {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.assunto .assunto__hidden .assunto__response-header h3 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #5c5c5c;
}
.assunto .assunto__hidden .assunto__response-header-label {
  margin-right: 10px;
  display: flex;
  color: #ed7839;
}
.assunto .assunto__hidden .assunto__response-header-label img {
  margin-left: 20px;
}

footer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 800px) {
  .nav-size {
    width: 220;
    min-width: 220;
  }

  .sidebar {
    left: 0px;
  }
}
@media (max-width: 800px) {
  .header {
    height: fit-content;
  }

  .nav-size {
    width: 0;
    min-width: 0;
  }

  .sidebar {
    left: -220px;
    bottom: 0;
    top: 0;
  }
  .sidebar__logo {
    background-image: url("../");
  }
  .sidebar i {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
